.activity-info-section
	display: flex
	gap: 16px
	padding: 16px
	.activity-info-section-left
		flex: 4
	.activity-info-section-right
		flex: 6

.tab-bar
	display: flex
	list-style: none
	li
		background-color: var(--red-inactive)
		color: white
		padding: 8px 24px
		border: 0.5px solid black
		border-radius: 12px 12px 0 0
		cursor: pointer
		&.active
			background-color: var(--red-active)

// 活動介紹
.activity-intro
	padding-top: 4px
	padding-bottom: 6px
	margin-bottom: 16px
	display: flex
	border-bottom: 10px solid var(--red-active)
	h3
		margin-left: 8px
		font-size: 30px
		font-weight: 400
	.star-icon
		width: 32px
		cursor: pointer

// 相似活動
.related-events
	border: 1px solid #000000
	border-radius: 10px
	padding: 16px
	margin-bottom: 8px
	display: flex
	gap: 8px
	h3
		font-weight: 300
		color: #535353

.related-event-badge
	background-color: var(--red-inactive)
	width: 120px
	padding: 4px 8px
	border: none
	border-radius: 4px
	cursor: pointer

//history訊號
.history-records-info
	background-color: var(--bg-gray)
	border-radius: 0 12px 12px
	padding: 16px
	height: 1000px
// AI 訊號
.ai-signal-info-right
	background-color: var(--bg-gray)
	border-radius: 0 12px 12px
	padding: 16px
	height: 600px
.pie
	position: relative
	left: 5px
	width: 50%
	height: 50%

.right_pie
	position: relative
	left: 7px
	width: 40%
	height: 40%

.container
	display: flex
	flex-wrap: wrap

.canvasjs-chart-credit
	display: none
