.activity-info-section
	display: flex
	gap: 16px
	padding: 16px
	.activity-info-section-left
		flex: 4
	.activity-info-section-right
		flex: 6

.tab-bar
	display: flex
	list-style: none
	li
		background-color: var(--red-inactive)
		color: white
		padding: 8px 24px
		border: 0.5px solid black
		border-radius: 12px 12px 0 0
		cursor: pointer
		&.active
			background-color: var(--red-active)

// 活動介紹
.activity-intro
	background-color: var(--red-inactive)
	border-radius: 12px
	margin-bottom: 16px
	padding: 16px

.activity-intro-title
	margin-bottom: 8px
	display: flex
	justify-content: space-between
	h3
		font-size: 24px
	.star-icon
		width: 26px
		cursor: pointer

// 相似活動
.related-events
	background-color: var(--bg-gray)
	border-radius: 12px
	padding: 16px
	margin-bottom: 8px
	display: flex
	gap: 8px

.related-event-badge
	background-color: var(--red-inactive)
	width: 120px
	padding: 4px 8px
	border: none
	border-radius: 4px
	cursor: pointer

// AI 訊號
.history-records-info
	background-color: var(--bg-gray)
	border-radius: 0 12px 12px
	padding: 16px
	height: 200px

.ai-signal-info-right
	background-color: var(--bg-gray)
	border-radius: 0 12px 12px
	padding: 16px
	height: 600px
.pie
	position: relative
	left: 5px
	width: 50%
	height: 50%

.right_pie
	position: relative
	left: 7px
	top: -200px
	backface-visibility: 0%
	width: 40%
	height: 40%



.canvasjs-chart-credit
	display: none
