.svg-map {
    width: 15%;
    height: auto;
    stroke: #666;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round; }
.svg-map__location {
    fill: #f8fdf7;
    cursor: pointer; }
.svg-map__location:focus, .svg-map__location:hover {
    fill: #b8e2b3;
    outline: 0; }
.svg-map__location[aria-checked=true] {
    fill: #f4bc44; }

        
        
