.container{
    display:grid;
    grid-template-columns: 200px,200px,200px; 
    height:70%;
    width: 60%;
    left:0%;

    position:static;   
    
}

.container{
    border: 2px solid #f76707;
    border-radius: 5px;
    background-color: #fff4e6;
}

body{
    font-family: "Gill Sans","Gill Sans MT",Calibri,sans-serif;
    color: #333;
} 