.sidebar-btn, .close-sidebar-btn
	width: 32px
	height: 32px
	top: 8px
	right: 16px
	cursor: pointer

.sidebar-btn
	position: fixed
	z-index: 999

.close-sidebar-btn
	position: absolute

.sidebar
	display: relative
	position: fixed
	z-index: 999
	background-color: #000
	color: #fff
	height: 100vh
	width: 150px
	padding: 16px 24px
	right: 0
	transition: all 0.3s ease
	h1
		margin-top: 8px
		margin-bottom: 16px
		font-size: 24px
	a
		text-decoration: none
		color: #fff

.opened
	transform: translateX(0%)

.closed
	transform: translateX(100%)

.nav-links
	font-size: 18px
	display: flex
	flex-direction: column
	gap: 4px

.avatar
	width: 100px
	height: 100px
	border-radius: 50%
	margin: 0 auto
	margin-top: 32px
	background: #D9D9D9